 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p> 게임개발자를 꿈꾸며 하루하루 열심히 하고 있는 이야기를 담았습니다. </p>
                </div>
                <div class="col-lg-4">
                    <p> C#, Unity를 배워서 미래에는 서버개발까지 꿈꾸고 있습니다. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/MagicZOL" class="btn btn-lg btn-outline">
                        <i class="fa fa-bookmark"></i> Github 저장소
                    </a>
                </div>
            </div>
        </div>
    </section>
